.line {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.sso-divider {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 16px 0;
  overflow: hidden;
}

div.sso-divider:before {
  margin-left: -40%;
  text-align: right;
}

div.sso-divider:before,
div.sso-divider:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 40%;
  height: 1px;
  content: '\a0';
  background-color: #7f8688;
}

div.sso-divider span {
  font-size: 14px;
  text-transform: capitalize;
  padding: 0 8px;
}


/*Estilos para presentación de imágenes en visitas 360*/

.pnlm-title-box {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.image-viewer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-color: white;
  border-radius: none;
}

.imagen-visita-zoom {
  width: auto;
  height: 99vh;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 222, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

.imagen-visita {
  width: auto;
  height: 99vh;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 222, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

.toggle-description {
  position: absolute;
  bottom: 30px;
  background: transparent;
  color: white;
  margin-right: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.9;
}

.tooltip-description {
  position: absolute;
  width: 130px;
  height: 30px;
  background-color: rgba(63, 62, 62, 0.8);
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  visibility: hidden;
  border: none;
  bottom: 35px;
  right: 50%;
  transform: translateX(50%);
}

.tooltip-description p {
  padding: 5px;
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;
}

.toggle-description:hover .tooltip-description {
  visibility: visible;
  opacity: 1;
}

.toggle-description-active {
  position: absolute;
  bottom: 30px;
  background: transparent;
  color: white;
  margin-right: 50px;
  border: none;
  border-radius: 30px;
  padding: 6px;
  background-color: #1d8cf8;
  right: 50%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.8);
  transform: translateX(50%);
}

.toggle-zoom {
  position: absolute;
  bottom: 30px;
  background: transparent;
  border: none;
  color: white;
  margin-left: 50px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.9;
}

.tooltip-zoom {
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: rgba(63, 62, 62, 0.8);
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  visibility: hidden;
  border: none;
  bottom: 35px;
  right: 50%;
  transform: translateX(50%);
  opacity: 1;
}

.tooltip-zoom p {
  padding: 5px;
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;
}

.toggle-zoom:hover .tooltip-zoom {
  visibility: visible;
  opacity: 1;
}

.toggle-zoom-active {
  position: absolute;
  bottom: 30px;
  background: transparent;
  border: none;
  color: white;
  margin-left: 50px;
  border-radius: 30px;
  padding: 6px;
  background-color: #1d8cf8;
  right: 50%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.8);
  transform: translateX(50%);
}

.toggle-zoom:hover {
  transform: translateX(50%) scale(1.1);
}

.toggle-description:hover {
  transform: translateX(50%) scale(1.1);
}

.image-description {
  height: 20px;
  width: 20px;
}

.image-zoom {
  height: 20px;
  width: 20px;
}

.prev-image {
  background: none;
  border: none;
  position: absolute;
  width: 15px;
  height: 25px;
  top: 50%;
  opacity: 0.9;
  padding: 0px;
  transform: rotate(180deg);
  /* Centra verticalmente la imagen */
  left: 50px;
}

.next-image {
  background: none;
  border: none;
  position: absolute;
  width: 15px;
  height: 25px;
  opacity: 0.9;
  top: 50%;
  /* Centra verticalmente la imagen */
  right: 50px;
  /* La posiciona a la derecha del contenedor */
  padding: 0px;
}

.next-image:hover {
  filter: drop-shadow(5px 5px 10px white);
  width: 17px;
}

.prev-image:hover {
  filter: drop-shadow(5px 5px 10px white);
  width: 17px;
}

.next-image:active {
  width: 13px;
}

.prev-image:active {
  width: 13px;
}

.nav-museo>.nav-item>.nav-link {
  padding: 4px 10px;
  border-radius: 30px;
}

.title-visita {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px #696562,
    1px 1px 0px #696562,
    2px 2px 0px #00000055;
}

.close-button {
  position: absolute;
  top: 30px;
  /* Distancia desde la parte superior */
  right: 30px;
  /* Distancia desde la derecha */
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
}

.close-button:hover {
  filter: drop-shadow(5px 5px 10px white);
  cursor: pointer;
}

.close-button-description {
  position: absolute;
  top: 30px;
  /* Distancia desde la parte superior */
  right: 20px;
  /* Distancia desde la derecha */
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px;
}


.close-button-description:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px white);
}

.image-container {
  text-align: center;
  /* Centra la imagen horizontalmente */
  margin-top: 70px;
  /* Espacio entre el título y la imagen */
  border-radius: 8px;
  position: absolute;
}

.image {
  max-width: 100%;
  /* Ajusta el tamaño máximo de la imagen */
  width: 25%;
  height: 25%;
  border-radius: 8px;
  border: 8px solid #696562;
  /* Color marrón para el marco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {

  .image {
    max-width: 100%;
    /* Ajusta el tamaño máximo de la imagen */
    width: 50%;
    height: 40%;
    border-radius: 8px;
    border: 8px solid #696562;
    /* Color marrón para el marco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.description-piece {
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0px;
  font-family: "Courier New";
  text-align: justify;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(187, 185, 185, 0.56) 0px 22px 70px 4px;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: -25%;

  }

  to {
    margin-right: 0%;

  }
}

.description-piece .card {
  height: 100%;
  background-color: rgba(0, 23, 23, 0.5);
}

.imgfullscreen {
  width: 27px;
  cursor: pointer;
  background: #ffffff;
  padding: 5px;
  position: relative;
  z-index: 999;
  margin-left: 10px;
  top:90px;
}

.imgsala {
  width: 50px;
  height: 12px;
  cursor: pointer;
  position: relative;
  z-index: 999;
  margin-top: -50px;
  left: 50%; /* Desplaza la imagen hacia la derecha en un 50% de su propio ancho */
  transform: translateX(-50%);
  opacity: 0.8;
}
.imgsala:hover {
  transform: translateX(-50%) scale(1.1); 
}

.pannellum {
  box-shadow: 10px, 10px, 10px, #ffffff;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  /* Asegura que el backdrop se muestre sobre otros elementos */
}

/*Estilos para footer*/
.btn-footer {
  background-image: unset;
  background-color: transparent;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.texto-footer {
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* Aplica una sombra con desplazamiento de 2px horizontal y vertical, desenfoque de 4px y color rgba negro con 50% de opacidad */
}

.iconos-redes {
  text-align: center;
}

.icon-text-footer {
  align-items: center;
}

.texto-copyright {
  margin-bottom: 10px;
  margin-top: 20px;
}

.pnlm-container {
  border-color: #e9e7e7;
  border-style: solid;
  border-width: 5px;
}

/*Generales*/
.container-museo {
  margin-top: 20vh;
}

.content-museo {
  height: 83vh;
}

.section-museo {
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/*Estilos para hotspot*/

.hotspot {
  cursor: pointer;
  box-sizing: border-box;
}

.hotspot .out-museo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform ease-out 0.1s, border 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, border 0.2s;
  transition: transform ease-out 0.1s, border 0.2s;
  box-sizing: border-box;
}

.hotspot .camara-museo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.7;
  background-image: url("assets/img/visita360/camara.png");
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  background-size: cover;
}

.hotspot .salir-museo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.7;
  background-image: url("assets/img/visita360/salir.png");
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  background-size: cover;
}

.hotspot .left-museo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.7;
  background-image: url("assets/img/visita360/left.png");
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  background-size: cover;
}

.hotspot .up-museo {
  width: 35px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.7;
  background-image: url("assets/img/visita360/up.png");
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  background-size: 100% 100%;
}

.hotspot .right-museo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.7;
  background-image: url("assets/img/visita360/right.png");
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  background-size: cover;
}

.hotspot .down-museo {
  width: 25px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.7;
  background-image: url("assets/img/visita360/down.png");
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  background-size: 100% 100%;
}

.hotspot:hover .out-museo {
  border: 1px solid rgba(255, 255, 255, 1);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.6);
  filter: drop-shadow(5px 5px 10px white);
}
.hotspot:hover .out-up-museo {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  filter: drop-shadow(5px 5px 15px white);
}

.hotspot:hover .camara-museo {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hotspot:hover .salir-museo {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.tooltip-salir {
  position: absolute;
  width: 112px;
  height: 20px;
  background-color: rgba(63, 62, 62, 0.8);
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  visibility: hidden;
  border: none;
  bottom: 35px;
  padding: 4px;
  right: 50%;
  font-family: 'Poppins', sans-serif;
  transform: translateX(50%);
}

.hotspot:hover .tooltip-salir {
  visibility: visible;
  opacity: 1;
}

/*Estilos para reportes*/
.pie-museo {
  padding: 20px;
  height: 500px;
}

@media screen and (max-width: 991px) {

  .pie-museo {
    margin-left: 0px;
  }

  .bar-museo {
    height: 400px;
    width: auto;
  }

  .line-museo {
    height: 400px;
    width: auto;
  }

  .saludo-usuario.mobile {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: x-small;
  }

  .nav-tabs>.nav-item>.nav-link {
    font-size: x-small;
  }

  .nav-pills .nav-item .nav-link {
    padding: 5px 23px;
    min-width: 80px;
    font-size: x-small;
  }

  .nav-pills .nav-item i {
    font-size: 15px;
    line-height: 50px;
  }
}

.bar-museo {
  padding: 20px;
  width: 100%;
  height: 450px;
}

.chart-bar-museo {

  width: 100%;
  height: 450px;
}

.line-museo {
  padding: 20px;
  width: 100%;
  height: 450px;
}

.saludo-usuario {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
}

.salas-museo {
  position: relative;
  width: 100%;
  height: 130px;
  margin-top: -130px;
  font-family: "Courier New";
  text-align: justify;
  font-size: medium;
  display: flex; /* Utiliza flexbox para alinear los elementos hijos */
  justify-content: center; /* Centra los elementos hijos horizontalmente */
  align-items: center; /* Centra los elementos hijos verticalmente */
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(187, 185, 185, 0.56) 0px 22px 70px 4px;
  animation-duration: 1s;
  animation-name: slideins;
}

@keyframes slideins {
  from {
    height: 0px;
    transform: translateY(100%);
  }

  to {
    height: -130px; /* Usando un valor positivo */
    transform: translateY(0%);
  }
}
.salas-imagen{
  width: 150px; 
  height: 95px;
  border-radius: 5%; 
  cursor: pointer; 
 
}
.imagen-item{
  width: 150px; 
  height: 100px;
  border-radius: 5%;
  border-style: solid; 
  cursor: pointer; 
  display: inline-block; 
  margin: 0 10px 18px 5px;
}

.imagen-item:hover{
  transform: scale(110%);
  opacity: 0.7;
}

.descripcion-imagen {
  position: relative;
  top:-95px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  color: white;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  opacity: 0; /* Ocultar la descripción inicialmente */
  transition: opacity 0.3s ease; /* Transición para suavizar el efecto de aparición */
}

.imagen-item:hover .descripcion-imagen {
  opacity: 1; /* Mostrar la descripción al pasar el mouse */
}
.wrapper{
  height: 900px;
}