.line {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.sso-divider {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 16px 0;
  overflow: hidden;
}

div.sso-divider:before {
  margin-left: -40%;
  text-align: right;
}

div.sso-divider:before,
div.sso-divider:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 40%;
  height: 1px;
  content: '\a0';
  background-color: #7f8688;
}

div.sso-divider span {
  font-size: 14px;
  text-transform: capitalize;
  padding: 0 8px;
}

.modal-content-visita {
  background-image: url('assets/img/visita360/fondo1.png');
  /* URL de la imagen de fondo */
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir todo el contenido */
  background-position: center;
  /* Centra la imagen de fondo */
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: aparecer 1s ease forwards;
  /* Aplica la animación */
}

.title-visita {
  text-align: center;
  /* Centra el título horizontalmente */
  margin: 15px;
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px #696562,
    1px 1px 0px #696562,
    2px 2px 0px #00000055;
}

.close-button {
  position: absolute;
  top: 10px;
  /* Distancia desde la parte superior */
  right: 60px;
  /* Distancia desde la derecha */
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 14px;
}

.close-button:hover {
  box-shadow: 1px 1px 2px yellow, 0 0 1em rgb(37, 37, 37), 0 0 0.2em rgb(15, 15, 15);
  ;
}

.image-container {
  text-align: center;
  /* Centra la imagen horizontalmente */
  margin-top: 10px;
  /* Espacio entre el título y la imagen */
  border-radius: 8px;
}

.image {
  max-width: 100%;
  /* Ajusta el tamaño máximo de la imagen */
  width: 600px;
  height: 400px;
  border-radius: 8px;
  border: 8px solid #696562;
  /* Color marrón para el marco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.description {
  text-align: center;
  /* Centra la descripción horizontalmente */
  margin: 30px;
  /* Espacio entre la imagen y la descripción */
  color: #ffffff;
  height: 100px;
}

.imgfullscreen {
  width: 27px;
  cursor: pointer;
  background: #ffffff;
  padding: 5px;
  position: fixed;
  z-index: 999;
  margin-top: 65px;
  margin-left: 10px;
}

.pannellum {
  box-shadow: 10px, 10px, 10px, #ffffff;
}

@keyframes aparecer {
  from {
    opacity: 0;
    /* La imagen comienza completamente transparente */
  }

  to {
    opacity: 1;
    /* La imagen termina completamente visible */
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  /* Asegura que el backdrop se muestre sobre otros elementos */
}

/*Estilos para footer*/
.btn-footer {
  background-image: unset;
  background-color: transparent;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.texto-footer {
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* Aplica una sombra con desplazamiento de 2px horizontal y vertical, desenfoque de 4px y color rgba negro con 50% de opacidad */
}

.iconos-redes {
  text-align: center;
}

.icon-text-footer {
  align-items: center;
}

.texto-copyright {
  margin-bottom: 10px;
  margin-top: 20px;
}

.pnlm-container {
  border-color: #e9e7e7;
  border-style: solid;
  border-width: 5px;
}

/*Generales*/
.container-museo {
  margin-top: 20vh;
}

.content-museo {
  height: 83vh;
}

.section-museo {
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/*Estilos para hotspot*/

.hotspot {
  cursor: pointer;
  box-sizing: border-box;
}

.hotspot .out-museo:before {
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hotspot .out-museo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, .8);
  -webkit-transition: -webkit-transform ease-out 0.1s, border 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, border 0.2s;
  transition: transform ease-out 0.1s, border 0.2s;
  box-sizing: border-box;
  opacity: 0.6;
}

.hotspot .in-museo {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  opacity: 0.6;
}

.hotspot .out-museo:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hotspot:hover .out-museo {
  border: 5px solid rgba(255, 255, 255, 1);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  color: #fff;
}

.hotspot:hover .in-museo {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.hotspot:hover .out-museo:after {
  -webkit-animation: sonarEffect 1.2s ease-out;
  -moz-animation: sonarEffect 1.2s ease-out;
  animation: sonarEffect 1.2s ease-out;
}